.center {
    margin: auto;
    width: 50%;
}

.textheader {
    font-size: 24px;
}

.textbody {
    font-size: 16px;
}

#settingson {
    width: 18px;
}

#settingsoff {
    width: 18px;
}

body {
    background-color: green;
}